INSERT INTO `users` (`name`, `email`, `password`) VALUES ('Violeta', 'violeta@gmail.com', '$2y$10$a4BwrynuwTqJ1UONzM5X7eNlxE2ACZZBe50Z30tEvsccOu15yEdXu');
INSERT INTO `users` (`name`, `email`, `password`) VALUES ('Abraham', 'rashid@gmail.com', '$2y$10$a4BwrynuwTqJ1UONzM5X7eNlxE2ACZZBe50Z30tEvsccOu15yEdXu');
INSERT INTO `users` (`name`, `email`, `password`) VALUES ('Kevin', 'notbrian@gmail.com', '$2y$10$a4BwrynuwTqJ1UONzM5X7eNlxE2ACZZBe50Z30tEvsccOu15yEdXu');


INSERT INTO products (name, price) VALUES ('Dulce de leche', '15');
INSERT INTO products (name, price) VALUES ('Cocada tradicional', '12.50');
INSERT INTO products (name, price) VALUES ('Planqueta', '9.50');


INSERT INTO stores (name,ubication) VALUES ('Minisuper don angel', 'Av.Emiliano zapata#21');
INSERT INTO stores (name,ubication) VALUES ('Oxxo Agaves','Av.Paseos del rio #32');
INSERT INTO stores (name,ubication) VALUES ('Abarrotes 3 hermanos', 'Calle Juan vargas#7');


INSERT INTO comments (description,photo,store_id,user_id) VALUES('roto','dkjcnfkjcn',1,1);
INSERT INTO comments (description,photo,store_id,user_id) VALUES('despintado','dkjcnfkjcn',2,1);
INSERT INTO comments (description,photo,store_id,user_id) VALUES('se sustituyo','dkjcnfkjcn',3,2);
INSERT INTO comments (description,photo,store_id,user_id) VALUES('robado','dkjcnfkjcn',1,2);
